.dark-mode {
    background-color: black;
}

.white-mode {
    background-color: white;
}

.milieu {
    font-size: 40px;
    text-align: center;
}

.full-milieu {
    margin-left: auto;
    margin-right: auto;
    width: 14em;
    font-size: 40px;
    // font-family : Arial, Helvetica, sans-serif;
}

.hb-header {
    position: relative;
    background: red;

    .header-wraper {
        margin: 0 auto;
        max-width: 1024px;
        background-color: blue;
    }
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    scroll-snap-align: start;
}

.ecriture-white {
    color: white;
}

.ecriture-black {
    color: black;
}

//css pour le fond avec les lignes

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box !important;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #171717;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 100vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .line:nth-child(1) {
    margin-left: -25%;
  }
  .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .line:nth-child(3) {
    margin-left: 25%;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  @-webkit-keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  // fin css pour le fond avec les lignes

  // css pour les flèches de la premiere page

  $base: 0.6rem;

.container {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100vh;
}

.chevron {
  position: relative;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #ffffff;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

 // fin css pour les flèches de la premiere page

 .bloc1 {
  margin-left: 120px;
  margin-right: 120px;
 }

 .separateur {
  display: flex;
  justify-content: space-between;
}

img {
  height: auto;
  width: auto;
}

// numeros

@property --num {
  syntax: "<integer>";
  initial-value: 100;
  inherits: false;
}

.numero {
  animation: counter 5s;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
}
.numero::after {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}